* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}



body {
  background-image: url("images/camping.jpg"); 
  /* display: grid;
  grid-template-columns: 1fr repeat(4, minmax(auto, 10em)) 1fr;
  grid-template-rows
  : minmax(1em, auto) 1fr auto minmax(1em, auto); */
}

.wrapper {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  
}

h1, h2, h3, h4 {
  color: #1f2421;
}

.workoutHeader {
  margin-top: 30px;
}

.card {
  width: 100%;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color:#fff;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;  
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;

}

.search button{
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  right: 2;

}

.search button img {
  width: 12px;
  height: 12px;
}

.search button:hover {
  background: #edeef0;
}

.weather-icon {
  width: 170px; 
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}


.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
  margin-bottom: 25px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;

}

.humidity, .wind {
  font-size: 28px;
  margin-top: -10px;

}

.weather {
  display: none;
}

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}



/* Fitness Goals */

.todo-container {
  width: 100%;
  min-height: 30vh;
  background: #216869;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.todo-app {
  width: 90%;
  max-width: 540px;
  background: #fff;
  margin: 50px auto;
  padding: 40px 30px 70px;
  border-radius: 10px;
}


.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}

.todo-app h2 img {
  width: 30px;
  margin-left: 10px;

}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;

}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;

}

button {
  border: none;
  outline: none;
  padding: 16px 25px;
  background-color: #ff5945;
  color: #fff;
  cursor: pointer;
  font-size: 10px;
  border-radius: 40px;

}

button:hover {
  background: rgba(0,0,0,0.1);
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  color: black;
}

ul li::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.marked {
  color: #555;
  text-decoration: line-through;
}

ul li.marked::before{
  background-image: url(images/checked.png);
}
 
ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover{
  background: #edeef0;
}

/* Countdown Timer */

.countdown-container{
  width: 100%;
  height: 25vh;
  background: #49a078;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #264653;

}

.countdown-time {
  display: flex;
  padding: 10px;
  margin: 15px;
  background: #fff;
}



.countdown-time div p {
  font-size: 40px;
  margin-bottom: -14px;
  padding: 5px;

}

.result {
  font-size: 20px;
}



/* Random Foods */

.random-container {
  width: 100%;
  margin-bottom: 15px;
 
}

.foodContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 20vh;
  background: #3c6e71;

}

/* Workout Tracker */

.workout-tracker {
  font-size: 14px;
  /* border-collapse: collapse; */
  width: 100%;
  margin-top: 10px;
}

.workout-tracker th {
  font-size: 1.15em;
  text-align: left;
  font-weight: normal;
  color: white;
  background: #284b63;
}

.workout-tracker th, .workout-tracker td {
  /* padding: 0.75em; */

}

.entries .tracker-row {
  background: #eee;
}

.entries .tracker-row::nth-child(odd) {
  background: #ddd;
}

.tracker-date,
.track-duration,
.workout-types {
  display: inline-block;
  box-sizing: border-box;
  font-size: 1em;
  height: 2.0em;
  border: none;
  outline: none;
  background: none;
}

.track-duration {
  width: 2em;
  text-align: right;
}

.tracker-row-add {
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
  background: #fff;

}

.tracker-row-add td {
  text-align: right;
}

.tracker-add {
  display: inline-block;

}

.footer {
  height: 10px;
  font-size: 9px;
  text-align: right;
  padding-top: 20px;
}


/* Large Tables and laptop Styling */

@media screen and (min-width: 960px) {
  
  .workout-tracker { 
    margin-top: 70px;
    
  }
  
  
  .wrapper {
    display: flex;
    /* grid-template-columns: repeat(3, minmax(0,1fr));
    column-gap: 15px;
     */
     align-items: center;
     justify-content: space-between;
     flex-direction: row;
     margin-top: 25px;
   
      
  }


.random-container, .countdown-container {
  width: 40%;
  height: 100%;
 
}



}


